.add-product form{
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    justify-content:center;
    align-items:center;
}
.add-product input,textarea {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
}